# macOS
.DS_Store
*~

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.egg
*.egg-info/
dist/
build/

# Virtuelle Umgebungen
meinenv/
venv/
.env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
.virtual_documents/

# LaTeX
*.aux
*.log
*.out
*.toc

# Editor spezifisch
.vscode/
.idea/
